{% extends 'projects/base.html' %}
{% block content %}

<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-6">About Julianna Bennett</h1>

    <hr class="border-b-2 border-gray-300 mb-6">

    <p class="text-lg text-gray-700 mb-4">
        Hello everyone! My name is Julianna Bennett and I am a 
        24 year old software engineer based in Portland, Oregon.
    </p>

    <p class="text-lg text-gray-700 mb-4">
        Coding became a passion of mine about a year and a half ago now,
        when I decided to dabble in some online courses, but decided to
        take the next step by enrolling as a student in General 
        Assembly's Software Engineering immersive program, a 6 month 
        intensive course led by industry leading experts.
    </p>

    <p class="text-lg text-gray-700 mb-4">
        My formal education background is in Biomedical Science,
        obtaining a bachelor's of science from the University of New Hampshire 
        in 2021. 
    </p>
</div>

{% endblock %}
